/*
    Awesome Typography v1.0.0
    GPL License
    github.com/vaporwave/awesome-typography
*/

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Segoe UI', 'San Francisco', 'Helvetica Neue', 'Arial', 'sans-serif';
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, p {
    color: #263238;
}

h1 {
    font-size: 5.0rem;
}

h2 {
    font-size: 4.2rem;
}

h3 {
    font-size: 3.6rem;
}

h4 {
    font-size: 3.0rem;
}

h5 {
    font-size: 2.4rem;
}

h6 {
    font-size: 1.8rem;
}

p {
    font-size: 1.8rem;
    line-height: 1.5em;
}
